.scrollup {
  position: fixed;
  right: 2.5rem;
  bottom: -20%;
  background-color: var(--blue-color);
  padding: 0.3rem 0.7rem;
  border-radius: 5px;
  z-index: 99;
  transition: var(--transition);
  cursor: pointer;
}
.scrollup:hover {
  background-color: var(--blue-dark-color);
}
.scroll_icon {
  font-size: 2rem;
  margin-top: 6px;
}
.show_scroll {
  bottom: 3rem;
}
/* 600px */
@media only screen and (max-width: 37.5em) {
  .scrollup {
    bottom: 6rem;
  }
}
